{% extends 'base.html.twig' %}

{% block title %} CV landing page {% endblock %}

{% block writeMe %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('form', {id: mycv.id}) }}">Write me</a>
    </li>
{% endblock %}
{% block home %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: mycv.id}) }}">Home</a>
    </li>
{% endblock %}
{% block experience %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: mycv.id}) }}#expSection">Experience</a>
    </li>
{% endblock %}
{% block contacts %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: mycv.id}) }}#footerSection">Contacts</a>
    </li>
{% endblock %}

{% block body %}

   <main class="container p-3" id="main">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="container info">
                    <div class="row ">
                        <div class="col-sm-4 col-12"><img src="{{ asset('images/blank-profile-picture-973460_640.png') }}" alt="">
                            <strong><p class="mt-2">{{  mycv.fullName }}</p></strong>
                        </div>
                        <div class="col-sm-6 col-12 addMargin1"><h2>About</h2>
                            <hr class="solid">
                            <p>Few lines about me</p>
                            <p> {{ mycv.about}}</p>
                            <a href = "{{ path('form', {id: mycv.id}) }}">
                                <button type="button" class="btn btn-outline-primary">Contact me</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container" id = "education">
                    <h4>Education</h4>
                    <hr class="solid mb-4">
                    {% for education in mycv.educations %}
                    <div class="row mt-4">
                        <div class="col-10 schoolName">{{ education.getEducationTitle }}</div>
                        <div class="col-2"> {{ education.getEducationYear }}</div>
                    </div>
                    <p class="mt-4">{{ education.getAbout }}</p>
                    <hr class="dashed">
                    {% else %}
                        <p> No education have been found. </p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-3 col-12 addMargin2"><h3 id="skillsRef">Skills</h3>
            <hr class="solid mb-5">
                {% for user in mycv.skills %}
                    <h3>{{ user.skillName }}</h3>
                    <p>{{ user.aboutSkill }}</p>
                    <hr class="dashed">
                {% else %}
                    <p> No skills have been found. </p>
                {% endfor %}
            </div>
            <div id="experience" class="container mt-5 mb-5">
                <h4 id ="expSection" >Experience</h4>
                <hr class="solid mb-4">
                <ul class="list-group">
                    {% for experience in mycv.experiences %}
                        <li class="list-group-item list-group-item-action list-group-item-primary">{{ experience.getAbout }}</li>
                    {% else %}
                        <p> No experience have been found. </p>
                    {% endfor %}
                </ul>
            </div>
        </div>
   </main>

    <br>
    <footer id="footerSection">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h4 class="mt-2">Contacts</h4>
                    <hr class="solid solid2">
                    <p>{{ mycv.telephone }}</p>
                    <p>{{ mycv.email }}</p>
                    <p> {{ mycv.location }}</p>
                </div>
            </div>

        </div>
    </footer>

{% endblock %}
