{% extends 'base.html.twig' %}

{% block title %} CV landing page {% endblock %}

{% block writeMe %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('form') }}">Write me</a>
    </li>
{% endblock %}

{% block body %}

   <main class="container p-3" id="main">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="container info">
                    <div class="row ">
                        <div class="col-sm-4 col-12"><img src="{{ asset('images/blank-profile-picture-973460_640.png') }}" alt="">
                            <strong><p class="mt-2">{{  mycv.fullName }}</p></strong>
                        </div>
                        <div class="col-sm-6 col-12 addMargin1"><h2>About</h2>
                            <hr class="solid">
                            <p>Few lines about me</p>
                            <p> {{ mycv.about}}</p>
                            <a href = "{{ path('form') }}">
                                <button type="button" class="btn btn-outline-primary">Contact me</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container" id = "education">
                    <h4>Education</h4>
                    <hr class="solid">
                    <div class="row mt-4">
                        <div class="col-10 schoolName">School name 1</div>
                        <div class="col-2">2008-2017</div>
                    </div>
                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, deleniti iusto non quod tenetur ullam.</p>
                    <hr class="dashed">
                    <div class="row mt-4">
                        <div class="col-10 schoolName">School name 2</div>
                        <div class="col-2">2008-2017</div>
                    </div>
                    <p class="mt-4">Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, deleniti iusto non quod tenetur ullam.</p>
                </div>

            </div>
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-3 col-12 addMargin2"><h3 id="skillsRef">Skills</h3>
            <hr class="solid mb-5">
                {% for user in skills %}
                    <h3>{{ user.skillName }}</h3>
                    <p>{{ user.aboutSkill }}</p>
                    <hr class="dashed">
                {% else %}
                    No skills have been found.
                {% endfor %}
            </div>

        </div>
   </main>
    <div id="experience" class="container mt-4 mb-5">
        <h4 id ="expSection" >Experience</h4>
        <hr class="solid">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ex.</li>
            <li class="list-group-item list-group-item-action list-group-item-primary">Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item list-group-item-action list-group-item-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa eum harum iure optio vitae?</li>
        </ul>

    </div>
    <br>
    <footer id="footerSection">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h4 class="mt-2">Contacts</h4>
                    <hr class="solid solid2">
                    <p>+370658489</p>
                    <p>justtas@gmail.com</p>
                    <pStreet g 8</p>
                    <p>City Country</p>
                </div>
            </div>

        </div>
    </footer>

{% endblock %}
