{% extends 'base.html.twig' %}

{% block title %}Contact me{% endblock %}

{% block home %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: app.request.get('id')}) }}">Home</a>
    </li>
{% endblock %}
{% block experience %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: app.request.get('id')}) }}#expSection">Experience</a>
    </li>
{% endblock %}
{% block contacts %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cv', {id: app.request.get('id')}) }}#footerSection">Contacts</a>
    </li>
{% endblock %}


{% block body %}

    <main id="main" class="mb-5 ml-5 mr-5">

    {{ form_start(contactForm)}}
    {{ form_widget(contactForm)}}
    {{ form_end(contactForm)}}

    </main>
{% endblock %}
